<template>
    <div class="card text-center flex-fill">
      <div class="card-header">
        <car-manager-header v-on:onClickTab="onClickTab" 
                v-on:openReportModal="openReportModal" 
                v-on:openReportInvoicesModal="openReportInvoicesModal" :cell="cell" />
      </div>
      <car-manager-new :tab="tab" v-on:reloadResume="reloadResume"/>
      <car-manager-view :tab="tab" :cell="cell" v-on:reloadResume="reloadResume" />
      <car-manager-report ref="report"/>
      <car-manager-report-invoices  ref="report_invoices"/>
    </div>
</template>

<script>
    export default {  
        props:['cell'],
        data(){
            return {
                tab: 1,
            }
        },
        methods:{
            onClickTab: function(value){
                this.tab = value;
            },
            reloadResume: function(){
                this.$emit('reloadResume');
            },
            openReportModal: function(){
                this.$refs.report.setReport(1);
            },
            openReportInvoicesModal: function(){ 
                this.$refs.report_invoices.getList();
            }
        }
    }
</script>
