<template>
	<ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a v-bind:class="[tab == 1 ? 'nav-link active' : 'nav-link']" 
        	@click="setTab(1)">Registrar</a>
      </li>
      <li class="nav-item">
        <a v-bind:class="[tab == 2 ? 'nav-link active' : 'nav-link']" 
        	@click="setTab(2)">Gestionar</a>
      </li>
      <li class="nav-item">
        <a v-bind:class="'nav-link'" 
            data-toggle="modal" data-target="#reportModal"
            @click="openReportModal()">Informes</a>
      </li>
      <li class="nav-item">
        <a v-bind:class="'nav-link'" 
            data-toggle="modal" data-target="#reportInvoicesModal"
            @click="openReportInvoicesModal()">Facturas</a>
      </li>
    </ul>
</template>

<script>
    export default {  
        props: ['cell'],
    	data(){
    		return {
    			tab: 1,
    		}
    	},
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
        	setTab(id){
        		this.tab = id
        		this.$emit('onClickTab', id);
        	},
            openReportModal(){
                this.$emit('openReportModal');
            },
            openReportInvoicesModal(){
                this.$emit('openReportInvoicesModal');
            }
        },
        watch: {
            cell: function(_new){
                this.setTab(2);
            }
        }
    }
</script>
