<template>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                
                <div class="card-body">
                   <div class="row">
                       <div class="col-md-6 d-flex">
                            <resume ref="resume" v-on:setCell="setCell"></resume>
                       </div>
                       <div class="col-md-6 d-flex">
                            <car-manager v-on:reloadResume="reloadResume" 
                            :cell="cell"/>
                       </div>

                       
                   </div>   
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {  
        data(){
          return {
            cell: '',
          }
        },
        methods: {
          reloadResume: function(){
            this.$refs.resume.getCellList();
          },
          setCell: function(cell){
            this.cell = cell;
          }
        }
    }
</script>
