<template>
   <div class="card-body" v-if="tab == 1">
        <div class="row justify-content-md-center">
           <div class="col col-lg-7">
              <h5 class="card-title">Registrar Vehiculo</h5>
              <form v-on:submit.prevent="save">
                  <div class="form-group ">
                    <label for="placa"><b>Placa</b></label>
                    <input type="text" 
                      class="form-control" 
                      id="placa" 
                      name="placa" 
                      placeholder="Ingrese su placa(ABC123)"
                      required="required"
                      v-model="license_plate"
                      maxlength="6"
                      pattern="[A-Z]{3}[0-9]{3}"
                      oninvalid="this.setCustomValidity('la placa debe cumplir el formato AAA123')"
                      oninput="this.setCustomValidity('')"
                      onkeyup="this.value = this.value.toUpperCase();"
                      >
                  </div>

                  <div class="form-group ">
                    <label for="marca "><b>Marca</b></label>
                   <select id="marca" name="marca" class="form-control" v-model="brand_selected" required="required" >
                      <option value="" selected>Seleccione una marca...</option>
                      <option v-for="brand in brands"
                        v-bind:value="brand" v-text="brand.name"
                      ></option>
                    </select>
                  </div>

                  <button type="submit" class="btn btn-primary">
                    <span v-if="!loading">Registrar</span>
                    <span v-if="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span v-if="loading">Guardando...</span>
                  </button>
              </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {  
        props:['tab'],
        data(){
          return {
            license_plate: '',
            brand_selected: '',
            brands: [],
            loading: false,
          }
        },
        mounted() {
            this.brands = this.getListBrands();
        },
        methods: {
          getListBrands: function(){
             axios.get("/api/v1/brands")
              .then(response => {
                this.brands = response.data.data;
              })
              .catch(error => {
                console.log(error);
              });
          },
          save: function(){
            if(this.loading){
              return '';
            }
            this.loading = true;
            let vehicle = {
              license_plate: this.license_plate,
              brand: this.brand_selected.id
            };
            axios.post("/api/v1/record/create", vehicle)
              .then(response => {
                  if(response.data.status){
                    this.$toastr.success(response.data.message, 'Registrado Con Exito',  []);
                    this.license_plate ='';
                    this.brand_selected = '';
                  }else{
                    this.$toastr.error(response.data.message, 'Ups ha ocurrido un problema',  []);
                  }
                  this.$emit('reloadResume');
                  this.loading = false;
              })
              .catch(error => {
                if(error.response.status == 422){
                  let errors = error.response.data.errors;
                  if(errors.hasOwnProperty('license_plate')){
                    this.$toastr.error(errors['license_plate'], 'Ups ha ocurrido un problema',  []); 
                  }
                  if(errors.hasOwnProperty('brand')){
                    this.$toastr.error(errors['brand'], 'Ups ha ocurrido un problema',  []);
                  }
                }                
                this.loading = false;
              });
          }
        }
    }
</script>
