<template>
    <div>
      <!-- Modal -->
      <div class="modal fade" id="reportInvoicesModal" tabindex="-1" role="dialog" aria-labelledby="reportInvoicesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="reportInvoicesModalLabel">Facturas</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              <div class="row">
                <div class="col">
                  
                  <div class="table-responsive-sm" v-if="!loading">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Placa</th>
                          <th scope="col">Celda Original</th>
                          <th scope="col">Celda Final</th>
                          <th scope="col">Factura Nro</th>
                          <th scope="col">Acción</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="record in records">
                          <th scope="row" v-text="record.license_plate"></th>
                          <td v-text="getColumnText(record.cell_in.row,record.cell_in.col)"></td>
                          <td v-text="getColumnText(record.cell.row,record.cell.col)"></td>
                          <td v-text="record.alegra_invoice_id"></td>
                          <td><a @click="viewInvoice(record.alegra_invoice_id)">Ver Factura</a></td>
                        </tr>
                       
                      </tbody>
                    </table>
                  </div>

                  <div v-if="loading">
                      <h5 class="card-title">Cargando ..... </h5>
                  </div>

                </div>
              </div>
             

              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" ref="reportInvoicesModalClose">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reportInvoicesModal" style="display: none" ref="openReportInvoicesModal">
        
      </button>
      <car-manager-report-invoice v-on:openReportInvoicesModal="openReportInvoicesModal" ref="invoice" />
    </div>
</template>

<script>
    export default {  
        data(){
          return {
            records:[],
            loading: false,
            invoice_id:0,
            from_modal: true,
          }
        },
        methods: {
          getList: function(){
            this.loading = true;
            this.records = [];
            axios.get("/api/v1/report/invoices")
              .then(response => {
                this.records = response.data.data;
                this.loading = false;
              })
              .catch(error => {
                console.log(error);
              });
          },
          viewInvoice: function(id){
            this.invoice_id = id;
            this.$refs.reportInvoicesModalClose.click();
            this.$refs.invoice.clickShow(id);
          },

          getColumnText: function(row, col){
            return (Number((row-1)*5) + Number(col));
          },
          getCurrentTime: function(date){
           
          },
          openReportInvoicesModal: function(){
            this.$refs.openReportInvoicesModal.click();
          }
        }
    }
</script>
