<template>

    <!-- Modal -->
    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="reportModalLabel">Informes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
            <ul class="nav nav-tabs">
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Seleccione un informe</a>
                <div class="dropdown-menu">
                  <a v-bind:class="[report == 1 ? 'dropdown-item active' : 'dropdown-item']" 
                    @click="setReport(1)">Vehiculos Actualmente Parqueados</a>
                  <a v-bind:class="[report == 2 ? 'dropdown-item active' : 'dropdown-item']" 
                    @click="setReport(2)">5 Celdas Más Ocupadas</a>
                </div>
              </li>
            </ul>

            <car-manager-report-current-vehicles :report="report" ref="current_vehicles" />
            <car-manager-report-five-cells :report="report" ref="five_cells" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {  
        data(){
            return {
                report: 1,
            }
        },
        methods: {
            setReport: function(id){
                this.report = id;
                if(id == 1){
                    this.$refs.current_vehicles.getList();
                }
                if(id == 2){
                    this.$refs.five_cells.getList();
                }
            }
        }
    }
</script>
