<template>

  <div v-if="report == 2">
      <div class="row">
        <div class="col" style="padding-top: 15px">
          <h5>5 Celdas Más Ocupadas</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          
          <div class="table-responsive-sm" v-if="!loading">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Posicion</th>
                  <th scope="col">Celda</th>
                  <th scope="col">Segundos</th>
                  <th scope="col">Tiempo</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(record, index) in records">
                  <th scope="row" v-text="index+1"></th>
                  <td v-text="getColumnText(record.cell.row,record.cell.col)"></td>
                  <td v-text="getCurrentTimeSeconds(record.total)"></td>
                  <td v-text="getCurrentTime(record.total)"></td>
                </tr>
               
              </tbody>
            </table>
          </div>

          <div v-if="loading">
              <h5 class="card-title">Cargando ..... </h5>
          </div>

        </div>
      </div>
    </div>

</template>

<script>
    export default {  
        props: ['report'],
        data(){
          return {
            records:[],
            loading: false,
          }
        },
      
        methods: {
          getList: function(){
            this.loading = true;
            this.records = [];
            axios.get("/api/v1/report/five_more_occupied")
              .then(response => {
                this.records = response.data.data;
                this.loading = false;
              })
              .catch(error => {
                console.log(error);
              });
          },
          getColumnText: function(row, col){
            return (Number((row-1)*5) + Number(col));
          },
          getCurrentTimeSeconds: function(total){
            total = parseInt(total) / 1000;
            let seconds = total / 1000;
            return seconds+ " segundo(s)";
          },
          getCurrentTime: function(total){
            total = parseInt(total) / 1000;
            let milliseconds = parseInt((parseInt(total) % 1000) / 100),
                seconds = Math.floor((total / 1000) % 60),
                minutes = Math.floor((total / (1000 * 60)) % 60),
                hours = Math.floor((total / (1000 * 60 * 60)) % 24),
                days = Math.floor(total / (1000 * 60 * 60 * 24));

            return days + " dia(s),  " + hours+" hora(s), "+minutes+" minuto(s), "+seconds+ " segundo(s)";
          }
        }
    }
</script>
