<template>
  <div v-if="report == 1">
      <div class="row">
        <div class="col" style="padding-top: 15px">
          <h5>Vehiculos Actualmente Parqueados</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          
          <div class="table-responsive-sm" v-if="!loading">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Placa</th>
                  <th scope="col">Celda Original</th>
                  <th scope="col">Celda Final</th>
                  <th scope="col">Tiempo Transcurrido</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="record in records">
                  <th scope="row" v-text="record.license_plate"></th>
                  <td v-text="getColumnText(record.cell_in.row,record.cell_in.col)"></td>
                  <td v-text="getColumnText(record.cell.row,record.cell.col)"></td>
                  <td v-text="getCurrentTime(record.in_at)"></td>
                </tr>
               
              </tbody>
            </table>
          </div>

          <div v-if="loading">
              <h5 class="card-title">Cargando ..... </h5>
          </div>

        </div>
      </div>
    </div>

</template>

<script>
    export default {  
        props: ['report'],
        data(){
          return {
            records:[],
            current_date: '',
            loading: false,
          }
        },
       
        methods: {
          getList: function(){
            this.loading = true;
            this.records = [];
            axios.get("/api/v1/report/occupied")
              .then(response => {
                this.records = response.data.data;
                this.current_date = response.data.current_date;
                this.loading = false;
              })
              .catch(error => {
                console.log(error);
              });
          },
          getColumnText: function(row, col){
            return (Number((row-1)*5) + Number(col));
          },
          getCurrentTime: function(date){
            let f1 = new Date(date);
            let f2 = new Date(this.current_date);
            let total = f2 - f1;

            let milliseconds = parseInt((parseInt(total) % 1000) / 100),
                seconds = Math.floor((total / 1000) % 60),
                minutes = Math.floor((total / (1000 * 60)) % 60),
                hours = Math.floor((total / (1000 * 60 * 60)) % 24),
                days = Math.floor(total / (1000 * 60 * 60 * 24));

            return days + " dia(s),  " + hours+" hora(s), "+minutes+" minuto(s), "+seconds+ " segundo(s)";
          }
        }
    }
</script>
