<template>
    <div>
      <!-- Modal -->
      <div class="modal fade" id="invoiceModal2" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="invoiceModal2Label">Factura de Venta</h5>
              <button type="button" class="close" @click="closeModal()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <div class="container" v-if="loading == 2">
              <div class="row">
                <div class="col" v-text="company.name"></div>
              </div>
              <div class="row">
                <div class="col" v-text="company.identificationObject.type+' '+
                      company.identificationObject.number+'-'
                      +company.identificationObject.dv"></div>
              </div>
              <div class="row">
                <div class="col" v-text="company.address.address+','+company.address.city"></div>
              </div>
               <div class="row">
                <div class="col" v-text="'Tel: '+company.phone"></div>
              </div>
               <div class="row">
                <div class="col">&nbsp;</div>
              </div>
               <div class="row">
                <div class="col" v-text="'Cuenta de Cobro: '+invoice.id"></div>
              </div>
               <div class="row">
                <div class="col" v-text="'Señor(es): '+invoice.client.name"></div>
              </div>
              <div class="row">
                <div class="col" v-text="'Documento: '+invoice.client.identification"></div>
              </div>
              <div class="row">
                <div class="col" v-text="'Fecha: '+invoice.date"></div>
              </div>
              <div class="row">
                <div class="col"></div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="table-responsive-sm">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Item</th>
                          <th scope="col">Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="item in invoice.items">
                          <th scope="row" v-text="item.description"></th>
                          <td v-text="item.total"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="table-responsive-sm">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th scope="row"><b>Total</b></th>
                          <td v-text="invoice.totalPaid"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col" v-text="invoice.termsConditions"></div>
              </div>
            </div>              
            <div v-if="loading != 2">
              <h5 class="card-title">Cargando factura...</h5>
          </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" @click="closeModal()">Cerrar</button>
              <button type="button" style="display: none" ref="invoiceModal2Close" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      <button ref="invoiceModal2" type="button" class="btn btn-primary" data-toggle="modal" data-target="#invoiceModal2" data-backdrop="static" style="display: none">
        
      </button>
      
    </div>
</template>

<script>
    export default {  
        data(){
            return {
                loading:0,
                company: {name: ''},
            }
        },
        methods: {
            clickShow: function(id){
              this.invoice_id = id;
              this.loading = 0;
              this.$refs.invoiceModal2.click();
              this.getCompany();
              this.getInvoice();
            },
            getCompany: function(){
                axios.get("/api/v1/report/company")
                  .then(response => {
                    if(response.data.status){
                        this.company = response.data.data;   
                    }
                    this.loading++; 
                  })
                  .catch(error => {
                    console.log(error);
                  });
            },
            getInvoice: function(){
              axios.get("/api/v1/report/invoice/"+this.invoice_id)
                .then(response => {
                  this.invoice = response.data.data;
                  this.loading++; 
                })
                .catch(error => {
                  console.log(error);
                });
            },
            closeModal: function(){
              this.$emit('openReportInvoicesModal');
              this.$refs.invoiceModal2Close.click();
            }
        }
    }
</script>
