<template>
   <div class="card text-center flex-fill">
      <h5 class="card-header">
      Resumen
      </h5>
      <div class="card-body">
          <easel-canvas width="280" height="280"">
              <easel-shape
                  form="rect"
                  :dimensions="[300,350]"
                  :x="0"
                  :y="0"
                  fill="#dbd5d5"
              >
              </easel-shape>
             
              <easel-container :x="0" :y="0">
                <div v-for="cell in cells">
                        <easel-shape form="rect" 
                          :dimensions="[50, 50]" 
                          :fill="getCarFill(cell)" 
                          :x="getPosX(cell)" 
                          :y="getPosY(cell)" :align="['left', 'top']"
                          @click="goToManage(cell)">
                        </easel-shape>
                        <easel-text :text="getLicense(cell)" 
                          :align="['right','bottom']" 
                          :x="getPosXText(cell)" 
                          :y="getPosYText(cell)"
                          color="white">
                        </easel-text>
                         <easel-text :text="'C'+getColumnText(cell)" 
                          :align="['right','bottom']" 
                          :x="getPosXText(cell)-10" 
                          :y="getPosYText(cell)-20"
                          color="white">
                        </easel-text>
                </div>
                <easel-text :text="'Cargando...'" 
                          :align="['right','bottom']" 
                          :x="190" 
                          :y="150"
                          font="20px Arial"
                          color="black"
                          v-if="loading">
                        </easel-text>
                <easel-text :text="'Zona De Ingreso >>>'" 
                          :align="['right','bottom']" 
                          :x="190" 
                          :y="260"
                          font="15px Arial"
                          color="black"
                          v-if="!loading">
                        </easel-text>
              </easel-container>
          </easel-canvas>

          <easel-canvas width="280" height="60"">
              <easel-shape
                  form="rect"
                  :dimensions="[300,60]"
                  :x="0"
                  :y="0"
                  fill="#dbd5d5"
              >
              </easel-shape>
             
              <easel-container :x="0" :y="0">
                <easel-shape form="rect" 
                          :dimensions="[40, 15]" 
                          fill="green" 
                          :x="10" 
                          :y="10" :align="['left', 'top']"
                          >
                        </easel-shape>
                <easel-text :text="'Celda disponible'" 
                          :align="['right','bottom']" 
                          :x="150" 
                          :y="25"
                          font="12px Arial"
                          color="black"
                          v-if="!loading">
                        </easel-text>
                <easel-shape form="rect" 
                          :dimensions="[40, 15]" 
                          fill="#ED2939" 
                          :x="10" 
                          :y="35" :align="['left', 'top']"
                          >
                        </easel-shape>
                <easel-text :text="'Celda Ocupada'" 
                          :align="['right','bottom']" 
                          :x="145" 
                          :y="50"
                          font="12px Arial"
                          color="black"
                          v-if="!loading">
                        </easel-text>
              </easel-container>
          </easel-canvas>
      </div>
  </div>
</template>

<script>
    export default {  
        props:['reload'],
        mounted() {
            this.getCellList();
        },
        data(){
          return {
            cells: [],
            space: 5,
            width: 50,
            height: 50,
            start: 5,
            top: 10,
            middle: 35,
            left: 40,
            loading: true,
          }
        },
        methods:{
          getCellList(){
            this.loading = true;
            this.cells = [];
            axios.get("/api/v1/cells")
              .then(response => {
                this.cells = response.data.data;
                this.loading = false;
              })
              .catch(error => {
                console.log(error);
              });
          },
          getPosX: function(cell){
            if(cell.col - 1 == 0){
              return this.start;
            }
            return (cell.col - 1) * this.width + (cell.col - 1) * this.space + this.start;
          },
          getPosY: function(cell){
            if(cell.row - 1 == 0){
              return this.start;
            }
            return (cell.row - 1) * this.height + (cell.row - 1) * this.space + this.start;
          },
          getPosXText: function(cell){
            if(cell.col - 1 == 0){
              return this.start + this.left;
            }
            return (cell.col - 1) * this.width + (cell.col - 1) * this.space + this.start + this.left;
          },
          getPosYText: function(cell){
            if(cell.row - 1 == 0){
              return this.start + this.middle;
            }
            return (cell.row - 1) * this.height + (cell.row - 1) * this.space + this.start + this.middle;
          },
          getCarFill: function(cell){
            if(cell.empty){
              return "green";
            }else{
              return "#ED2939";
            }
            
          },
          getColumnText: function(cell){
            return (Number((cell.row-1)*5) + Number(cell.col));
          },
          getLicense: function(cell){
            if(cell.records_active.length > 0){
              let record = cell.records_active[0];
              return record.license_plate;
            }
            return '';
          },
          goToManage: function(cell){
            if(cell.records_active.length > 0){
              this.$emit('setCell', cell); 
            }
          }
        },
    }
</script>
