<template>
    <div class="card-body" v-if="tab == 2" >
        <div class="row justify-content-md-center">
           <div class="col-md-12">
              <h5 class="card-title">Gestionar Vehiculo</h5>
              <form v-on:submit.prevent="getRecord">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th scope="row">Placa</th>
                      <td>
                            <input type="text" 
                                  class="form-control" 
                                  id="placa" 
                                  name="placa" 
                                  placeholder="Ingrese una placa: ej:(ABC123)"
                                  required="required"
                                  v-model="license_plate_search"
                                  maxlength="6"
                                  pattern="[A-Z]{3}[0-9]{3}"
                                  oninvalid="this.setCustomValidity('la placa debe cumplir el formato AAA123')"
                                  oninput="this.setCustomValidity('')"
                                  onkeyup="this.value = this.value.toUpperCase();"
                                  >
                            
                      </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-primary">
                                <span v-if="loading != 'cargando'">Buscar</span>
                                <span v-if="loading == 'cargando'" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span v-if="loading == 'cargando'">Buscando...</span>
                            </button>
                        </td>
                    </tr>
                  </tbody>
                </table>
                </form>

                <form v-on:submit.prevent="deleteRecord">
                <table class="table table-bordered" 
                    v-if="loading == 'si' || loading == 'eliminando'">
                  <tbody>
                    <tr>
                      <th scope="row">Placa</th>
                      <td v-text="record_search.license_plate">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Celda Inicial</th>
                      <td v-text="getColumnText(record_search.cell_in.row,record_search.cell_in.col)">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Celda Actual</th>
                      <td v-text="getColumnText(record_search.cell.row,record_search.cell.col)">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">Hora Ingreso</th>
                      <td v-text="record_search.in_at">
                      </td>
                    </tr>

                     <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-danger">
                                <span v-if="loading != 'eliminando'">Liberar Celda</span>
                                <span v-if="loading == 'eliminando'" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span v-if="loading == 'eliminando'">Liberando...</span>
                            </button>
                        </td>
                    </tr>
                  </tbody>
                </table>
                </form>
                <div v-if="loading == 'cargando'">
                    <h5 class="card-title">Buscando ..... </h5>
                </div>
                <div v-if="loading == 'no_registros'">
                    <h5 class="card-title">No se econtraron vehiculos con la placa buscada.</h5>
                </div>
            </div>
        </div>
        <car-manager-invoice :invoice="invoice" ref="invoice" v-on:openReportInvoicesModal="openReportInvoicesModal"  />
    </div>
</template>

<script>
    

    export default {  
        
        props:['tab','cell'],
        data(){
            return {
                record_search: {cell:{row:0,col:0}, cell_in:{row:0, col:0}},
                license_plate_search: '',
                record: {},
                loading:'no',
                invoice:[],
            }
        },
        methods: {
            getRecord: function(){
                this.loading = 'cargando';
                axios.get("/api/v1/record/"+this.license_plate_search)
                  .then(response => {
                    if(response.data.status){
                        this.record_search = response.data.data;   
                        this.loading = 'si'; 
                    }else{
                        this.record_search = {cell:{row:0,col:0}, cell_in:{row:0, col:0}};
                        this.$toastr.error(response.data.message, 'Ups ha ocurrido un problema',  []);
                        this.loading = 'no_registros';
                    }
                    
                  })
                  .catch(error => {
                    console.log(error);
                  });
            },
            getColumnText: function(row,col){
                return (Number((row-1)*5) + Number(col));
            },

            deleteRecord: function(record){
                this.loading = 'eliminando';
                axios.post("/api/v1/record/"+this.record_search.id)
                  .then(response => {
                    if(response.data.status){
                        this.$toastr.success(response.data.message, 'Liberado Con Exito',  []);
                        this.loading = 'no'; 
                        this.license_plate_search = '';
                        this.invoice = response.data.invoice;
                        this.$refs.invoice.clickShow();
                        this.$emit('reloadResume');
                    }else{
                        this.record_search = {cell:{row:0,col:0}, cell_in:{row:0, col:0}};
                        this.$toastr.error(response.data.message, 'Ups ha ocurrido un problema',  []);
                        this.loading = 'no_registros';
                    }
                    
                  })
                  .catch(error => {
                    console.log(error);
                  });
            },
            openReportInvoicesModal: function(){

            }
        },
        watch: {
           cell: function(_new, old){
            
            if(this.cell.records_active.length > 0){
              let record = this.cell.records_active[0];
              this.license_plate_search =  record.license_plate;
              this.getRecord();
            }
           }
        }
    }
</script>
